 <h2>Makes</h2>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Select Make</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
       @for (option of filteredOptions$ | async; track option) {
    <mat-option [value]="option">{{option.Make_Name}}</mat-option>
  }
    </mat-autocomplete>
  </mat-form-field>
</form>


    @if (loading$ | async) {
      <div>Cargando...</div>

    }
        <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
          <mat-list>
            <mat-list-item *cdkVirtualFor="let item of filteredMakes$ | async">
              <button mat-button>{{ item.Make_Name }}</button>
            </mat-list-item>
          </mat-list>
        </cdk-virtual-scroll-viewport>

        <!-- @for (option of makes$| async; track option) {
    <li [value]="option.Make_Name">{{option.Make_Name}}</li>
  } -->
