  <mat-toolbar>
    <mat-icon class="text-white ml-1.5 mr-3.5">directions_car</mat-icon>
  @if(currentVehicleName$ |async; as name){
    <span class="text-white">{{name}} - {{ toolbarTitle  }}</span>
  } @else {
    <span class="text-white">{{ toolbarTitle  }}</span>
  }
  @if (toolbarTitle.includes('Vehicle Details')) {
    <span class="flex-[1_1_auto]"></span>
  <button mat-flat-button (click)="backBrandsB()">
    <mat-icon>keyboard_backspace</mat-icon>
    Back to Brands
  </button>
  }
</mat-toolbar>
<div>
  <router-outlet />
</div>


